force-app/main/default/flows/Associate_Live_Chat_Transcript.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Associated_Contact</name>
        <label>Associated Contact</label>
        <locationX>492</locationX>
        <locationY>376</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Have_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssociatedContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateLiveChatTranscript_AsstContact</targetReference>
            </connector>
            <label>Have Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_Issues</name>
        <label>Have Issues?</label>
        <locationX>494</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>GetContactRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Associated_Issues</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssociatedIssue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateLiveChatTranscriptIssues</targetReference>
            </connector>
            <label>Have Issues</label>
        </rules>
    </decisions>
    <decisions>
        <name>InputNotNull</name>
        <label>InputNotNull</label>
        <locationX>160</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Have_Input</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inLiveChatTranscriptRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetIssuesRecord</targetReference>
            </connector>
            <label>Have Input</label>
        </rules>
    </decisions>
    <description>For Live Chat with 2 Issues, associate it on first created issue</description>
    <interviewLabel>Associate Live Chat Transcript {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Associate Live Chat Transcript</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetContactRecord</name>
        <label>GetContactRecord</label>
        <locationX>500</locationX>
        <locationY>215</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Associated_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastModifiedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inLiveChatTranscriptRecord.LastModifiedById</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>inLiveChatTranscriptRecord.StartTime</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>AssociatedContact</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetIssuesRecord</name>
        <label>GetIssuesRecord</label>
        <locationX>346</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Have_Issues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastModifiedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inLiveChatTranscriptRecord.LastModifiedById</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>inLiveChatTranscriptRecord.StartTime</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>AssociatedIssue</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>UpdateLiveChatTranscript_AsstContact</name>
        <label>UpdateLiveChatTranscript AsstContact</label>
        <locationX>728</locationX>
        <locationY>376</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inLiveChatTranscriptRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>AssociatedContact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>LiveChatTranscript</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateLiveChatTranscriptIssues</name>
        <label>UpdateLiveChatTranscriptIssues</label>
        <locationX>717</locationX>
        <locationY>49</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inLiveChatTranscriptRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>AssociatedIssue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>AssociatedIssue.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>LiveChatTranscript</object>
    </recordUpdates>
    <startElementReference>InputNotNull</startElementReference>
    <status>Active</status>
    <variables>
        <name>AssociatedContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>AssociatedIssue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>inLiveChatTranscriptId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inLiveChatTranscriptRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LiveChatTranscript</objectType>
    </variables>
</Flow>
