force-app/main/default/flows/Issue_Chat_Associate_to_Transcript.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Have_ChatTranscriptToAssociate</name>
        <label>Have ChatTranscriptToAssociate</label>
        <locationX>737</locationX>
        <locationY>198</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Associate_Transcript</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChatTranscriptToAssociate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateChatTranscript</targetReference>
            </connector>
            <label>Associate Transcript</label>
        </rules>
    </decisions>
    <decisions>
        <name>InputIssueIdCheck</name>
        <label>InputIssueIdCheck</label>
        <locationX>156</locationX>
        <locationY>224</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Have_Issue_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputIssueId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetIssueRecord</targetReference>
            </connector>
            <label>Have Issue Id</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check the entered Issue if not Null</description>
        <name>InputIssueRecordCheck</name>
        <label>InputIssueRecordCheck</label>
        <locationX>158</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>InputIssueIdCheck</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Have_Issue_Record</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>inputIssueRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetChatTranscriptRecord</targetReference>
            </connector>
            <label>Have Issue Record</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the issue was already associated to ChatTranscript</description>
        <name>Issue_Have_ChatTranscript</name>
        <label>Issue Have ChatTranscript?</label>
        <locationX>492</locationX>
        <locationY>48</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Have_No_ChatTranscript</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssociatedChatTranscript</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ChatTranscript_Agent</targetReference>
            </connector>
            <label>Have No ChatTranscript</label>
        </rules>
    </decisions>
    <formulas>
        <name>LastModifiedDateToConsider</name>
        <dataType>DateTime</dataType>
        <expression>{!inputIssueRecord.LastModifiedDate}-(1/24)</expression>
    </formulas>
    <label>Issue Chat Associate to Transcript</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ChatTranscript_Agent</name>
        <label>Get ChatTranscript Agent</label>
        <locationX>745</locationX>
        <locationY>45</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Have_ChatTranscriptToAssociate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LastModifiedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputIssueRecord.LastModifiedById</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>LastModifiedDateToConsider</elementReference>
            </value>
        </filters>
        <object>LiveChatTranscript</object>
        <outputReference>ChatTranscriptToAssociate</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseId</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetChatTranscriptRecord</name>
        <label>GetChatTranscriptRecord</label>
        <locationX>358</locationX>
        <locationY>46</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Issue_Have_ChatTranscript</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputIssueRecord.Id</elementReference>
            </value>
        </filters>
        <object>LiveChatTranscript</object>
        <outputReference>AssociatedChatTranscript</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetIssueRecord</name>
        <label>GetIssueRecord</label>
        <locationX>357</locationX>
        <locationY>211</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetChatTranscriptRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputIssueId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>inputIssueRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LastModifiedDate</queriedFields>
        <queriedFields>LastModifiedById</queriedFields>
        <queriedFields>ContactId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateChatTranscript</name>
        <label>UpdateChatTranscript</label>
        <locationX>511</locationX>
        <locationY>201</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChatTranscriptToAssociate.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>inputIssueRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>inputIssueRecord.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>LiveChatTranscript</object>
    </recordUpdates>
    <startElementReference>InputIssueRecordCheck</startElementReference>
    <status>Active</status>
    <variables>
        <name>AssociatedChatTranscript</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LiveChatTranscript</objectType>
    </variables>
    <variables>
        <name>ChatTranscriptToAssociate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LiveChatTranscript</objectType>
    </variables>
    <variables>
        <name>inputIssueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputIssueRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
