force-app/main/default/flows/Live_Chat_Transcript_Initiator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>Associate Live Chat Transcript</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_4_A1</name>
        <label>Associate to Related Case and Contact</label>
        <locationX>400</locationX>
        <locationY>200</locationY>
        <actionName>Associate_Live_Chat_Transcript</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>inLiveChatTranscriptRecord</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue>LiveChatTranscript</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <name>inLiveChatTranscriptRecord</name>
            <value>
                <elementReference>myVariable_current</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associate_Live_Chat_Transcript</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision3</name>
        <label>myDecision3</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_A1</targetReference>
            </connector>
            <label>New with Start Time</label>
        </rules>
    </decisions>
    <description>Add Checking of Start Time before associate to Contact and Issue</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>DATE(VALUE(IF(FIND(&quot;/&quot;, RIGHT([LiveChatTranscript].Date_of_Birth_in_String__c, 4)) != 0, IF(VALUE(RIGHT([LiveChatTranscript].Date_of_Birth_in_String__c, 2)) &lt; 25 , &apos;20&apos;+RIGHT([LiveChatTranscript].Date_of_Birth_in_String__c, 2) ,&apos;19&apos;+RIGHT([LiveChatTranscript].Date_of_Birth_in_String__c, 2)),RIGHT([LiveChatTranscript].Date_of_Birth_in_String__c, 4))),
VALUE(LEFT([LiveChatTranscript].Date_of_Birth_in_String__c,IF(MID([LiveChatTranscript].Date_of_Birth_in_String__c,2,1) == &apos;/&apos;,1,2))),
VALUE(MID([LiveChatTranscript].Date_of_Birth_in_String__c, IF(MID([LiveChatTranscript].Date_of_Birth_in_String__c,2,1) == &apos;/&apos;,3,4), IF((MID([LiveChatTranscript].Date_of_Birth_in_String__c,2,1) == &apos;/&apos; &amp;&amp; MID([LiveChatTranscript].Date_of_Birth_in_String__c,4,1) == &apos;/&apos;) || (MID([LiveChatTranscript].Date_of_Birth_in_String__c,3,1) == &apos;/&apos; &amp;&amp; MID([LiveChatTranscript].Date_of_Birth_in_String__c,5,1) == &apos;/&apos;),1,2))))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_8541428939</name>
        <dataType>Date</dataType>
        <expression>DATE(VALUE(IF(FIND(&quot;/&quot;, RIGHT({!myVariable_current.Date_of_Birth_in_String__c}, 4)) != 0, IF(VALUE(RIGHT({!myVariable_current.Date_of_Birth_in_String__c}, 2)) &lt; 25 , &apos;20&apos;+RIGHT({!myVariable_current.Date_of_Birth_in_String__c}, 2) ,&apos;19&apos;+RIGHT({!myVariable_current.Date_of_Birth_in_String__c}, 2)),RIGHT({!myVariable_current.Date_of_Birth_in_String__c}, 4))),
VALUE(LEFT({!myVariable_current.Date_of_Birth_in_String__c},IF(MID({!myVariable_current.Date_of_Birth_in_String__c},2,1) == &apos;/&apos;,1,2))),
VALUE(MID({!myVariable_current.Date_of_Birth_in_String__c}, IF(MID({!myVariable_current.Date_of_Birth_in_String__c},2,1) == &apos;/&apos;,3,4), IF((MID({!myVariable_current.Date_of_Birth_in_String__c},2,1) == &apos;/&apos; &amp;&amp; MID({!myVariable_current.Date_of_Birth_in_String__c},4,1) == &apos;/&apos;) || (MID({!myVariable_current.Date_of_Birth_in_String__c},3,1) == &apos;/&apos; &amp;&amp; MID({!myVariable_current.Date_of_Birth_in_String__c},5,1) == &apos;/&apos;),1,2))))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISNEW() </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISNEW() &amp;&amp;  NOT(ISNULL([LiveChatTranscript].StartTime)) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_4</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW() &amp;&amp;  NOT(ISNULL({!myVariable_current.StartTime}))</expression>
    </formulas>
    <interviewLabel>Live_Chat_Transcript_Initiator-2_InterviewLabel</interviewLabel>
    <label>Live Chat Transcript - Initiator</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>LiveChatTranscript</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[LiveChatTranscript]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Set Date of Birth</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Date of Birth</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Date_of_Birth__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_8541428939</elementReference>
            </value>
        </inputAssignments>
        <object>LiveChatTranscript</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LiveChatTranscript</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LiveChatTranscript</objectType>
    </variables>
</Flow>
